$color_1: #2e2e2e;
$color_2: #019845;
$color_3: #00b14f;
$color_4: #01672f;
$color_5: white;
$color_6: #00804a;
$color_7: #fff;
$color_8: #595959;
$color_9: #202020;
$color_10: #5d5d5d;
$color_11: #383838;
$color_12: #212529;
$color_13: black;
$color_14: rgb(80, 80, 80);
$color_15: #ebfbf3;
$color_16: WHITE;
$font-family_1: "Inter";
$font-family_2: "Sarabun";
$background-color_1: #fff;
$background-color_2: #00b14f;
$background-color_3: transparent;
$background-color_4: #00804a;
$background-color_5: #21c46b;
$background-color_6: #ebfbf3;
$background-color_7: #01672f;
$background-color_8: white;
$background-color_9: #00221d;
$background-color_10: #019845;